<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RefreshRevitReference.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <RefreshRevitReference.My.MySettings>
            <setting name="LastDllPath" serializeAs="String">
                <value>D:\Program Files (x86)\Civil Engineering\Autodesk Revit 2016</value>
            </setting>
            <setting name="LastSolutionPath" serializeAs="String">
                <value>F:\Software\Revit\RevitDevelop\OldW\OldW.sln</value>
            </setting>
        </RefreshRevitReference.My.MySettings>
    </userSettings>
</configuration>
